@page
@model HairdressingSalon.Web.Pages.Admin.Hairdressers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hairdresser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Hairdresser.Id" />
            <div class="form-group">
                <label asp-for="Hairdresser.Name" class="control-label"></label>
                <input asp-for="Hairdresser.Name" class="form-control" />
                <span asp-validation-for="Hairdresser.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hairdresser.BirthDate" class="control-label">Birth Date</label>
                <input asp-for="Hairdresser.BirthDate" class="form-control" />
                <span asp-validation-for="Hairdresser.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hairdresser.Fired" /> @Html.DisplayNameFor(model => model.Hairdresser.Fired)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                <div class="custom-file">
                    <input type="file" asp-for="Photo" class="custom-file-input form-control" accept=".png, .jpg, .jpeg">
                </div>
                <div>
                      <img src="~/images/profiles/@Model.Hairdresser.ImageName" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Hairdresser.IntroduceHtml" class="control-label">Introduce</label>
                <input asp-for="Hairdresser.IntroduceHtml" class="form-control" />
                <span asp-validation-for="Hairdresser.IntroduceHtml" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    tinymce.init({
        selector: "#Hairdresser_IntroduceHtml",
        width: '100%'
    });
    </script>
}
